@{
    ViewData["Title"] = "WS Start";
}
<div class="jumbotron">
    <div class="container">
        <h1>Web Components workshop</h1>
        <ul>
            <li>
                @Html.ActionLink("Web Standard", "WebStandard")
            </li>
            <li>
                @Html.ActionLink("React", "React")
            </li>
            <li>
                @Html.ActionLink("Angular2", "Angular")
            </li>
        </ul>
    </div>
</div>
