@{
    ViewData["Title"] = "React";
}
@section scripts {
    <!-- 0. Start bundler: npm run watch:react -->
    <!-- 1. Load libraries (part of the bundle) -->
    <script src="~/js/react-bundle.js"></script>
}
<br />
<div class="container">
    <h1>React</h1>
    <!-- 2. App mounted by bundle script here -->
    <div id="mount-node">Loading react app ...</div>
    
    <!-- 3. Sourcefiles found in /scripts/ksx -->
</div>
